*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}
body {
    background-color: #0B1F1A;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0 ,0.2);
    /* backdrop-filter: blur(10px); */
    box-shadow: #A7C4BC 0px 5px 6px;
    position: fixed;
    width: 100%;
    
}

#logo {
    margin: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: #E8F5F2;
}
header nav{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: auto;
    
    
}
header nav ul{

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    list-style: none;
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
    color: #E8F5F2;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
}
    
header nav ul li:hover{
    
    /* transform:scale(1.1); */
    font-size: 25px;
    transition: 0.2s ease-in-out;
    color: #A7C4BC;
    
}
header nav ul li a{
    text-decoration: none;
    color: white;
    
   
}
header i {
    margin: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: #E8F5F2;
}
main{
    height: 100%;
    width: 100%;
    padding-top: 5rem;
}

footer{
    background-color: #112D26;
    /* backdrop-filter: blur(10px); */
    height: auto;
    margin: auto;
    width: 100%;
    color: #E8F5F2;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;

}
#Menu{
    height: 100vh;
    display: flex;
    flex-direction: row;
}


.introduction{
    flex: 1;
    flex-direction: column;
    
    display: flex;
    padding: 100px;
    align-items: center;
    text-align: center;
    color: #E8F5F2;
    font-size: 1.5rem;
}
.introduction h1{
    text-decoration: underline;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #A7C4BC;
}
.introduction p{
    margin-bottom: 1rem;
    color:#A8D5C2;
}
#button button:hover{
    transform:scale(1.1);
    transition: 0.1s ease-in-out;
    color: #A7C4BC;
    background-color:#112D26;
}
#button  button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:wheat;
    height: 3rem;
    width: 10rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 1rem;
    text-decoration: none;
    
}
#button a{
    text-decoration: none;
    color:black;
}
.photo{
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #E8F5F2;
    font-size: 1.5rem;

}
.photo img {
    height: auto;
    width: 25rem;
    margin: 100px;
}
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#socials ul  {
    display: flex;
    flex-direction: row;
    flex: 2;
    align-items: flex-end;
    list-style: none;
    
}
#socials ul li a{
    margin: 1rem;
    padding: 1rem;
    
    color: #E8F5F2;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
}
#socials ul li a:hover{
    /* transform: scale(1.1);
    transition: 0.1s ease-in-out; */
    color: #A7C4BC;
    font-size: 30px;
    transition: 0.3s ease-in-out;
}
#Paragraph{
    flex-direction: row;
    flex: 1;
    display: flex;
    
    flex-direction: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
    color: #E8F5F2;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
}
#Web{
    display: flex;
    flex-direction: row;
}
.Projects{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
    gap: 1rem;
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
    background-color: #143B33;
    
    
}
#Title{
    align-items: center;
    margin: auto;
    color: white;
    font-size: 2rem;
    text-decoration: underline;
}
.webProjects{
    display: block;
    padding: 1rem;
    border-radius: 3rem;
    text-align: center; 
    
}

.webProjects img {
    height: 40rem;
    width: 50rem;
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
    color: #E8F5F2;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 2rem;
    
}
#Description {
    text-align: center;
    flex: 2;
    align-items: center;
    margin: auto;
    color: white;
    font-size: 1.5rem;
    
}
#Projects{
    padding: 5rem;
}
.Project_Description{
    font-size: 2rem;
}
.Project_Description p{
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
    color: #E8F5F2;
    font-size: 1.2rem;
}
.Project_Description h3{
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
    color: #E8F5F2;
    font-size: 3rem;
    text-decoration: underline;
}
.button{
    background-color: #D6B97A;
    height: 2rem;
    width: 5rem;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
.button:hover{
    transform:scale(1.1);
    transition: 0.1s ease-in-out;
    color: #A7C4BC;
    background-color:#112D26;
    box-shadow: #A7C4BC 0px 5px 6px;
}
.pageTitle{
    text-align: center;
    flex: 2;
    align-items: center;
    margin: auto;
    color: white;
    font-size: 2rem;
}
#Services{

    display: flex;
    flex-direction: column;
    padding: auto;
    margin: 1rem;
    gap: 1rem;
    color: #E8F5F2;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    align-items: center;


}

.services{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 1rem;
    text-align: space-between;
    padding: 1rem;
    margin: 1rem;
    gap: 1rem;
    cursor: pointer;
    
}
.service img {
    height: 50rem;
    width: 30rem;
    border-radius:0  3rem 0 3rem ;
    
}
.service div{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #143B33;
    padding: 3rem;
    box-shadow: #A7C4BC 0px 5px 6px;
}
.Contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    color: #E8F5F2;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    background-color:#112D26 ;
    height: 50vh;
    width: 100%;

}
#contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
    color: #E8F5F2;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    flex: 2;
    width: 50%;
}
#Feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 1rem;
}
#Feedback textarea{
    background-color: #143B33;
    border-radius: 1rem;
    border: none;
    box-shadow: #A7C4BC 0px 5px 6px;
    color: #E8F5F2;
    text-align: center;
    padding: 1rem;
}