*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #0B1F1A;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    background-color: #112D26;
    /* backdrop-filter: blur(10px); */
    box-shadow: #A7C4BC 0px 5px 6px;
    
}

#logo {
    margin: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: #E8F5F2;
}
header nav{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: auto;
    
    
}
header nav ul{

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    list-style: none;
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
    color: #E8F5F2;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
}
    
header nav ul li:hover{
    
    transform:scale(1.1);
    transition: 0.1s ease-in-out;
    color: #A7C4BC;
    
}
header nav ul li a{
    text-decoration: none;
    
   
}
header i {
    margin: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: #E8F5F2;
}
main{
    height: 100vh;
    width: 100%;
}

footer{
    background-color: #112D26;
    /* backdrop-filter: blur(10px); */
    box-shadow: #A7C4BC 0px 5px 6px;
    height: auto;
    margin: auto;
    width: 100%;
    color: #E8F5F2;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;

}
.Menu{
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.Menu button{
    margin: 10rem;
    height: 3rem;
    width: 20rem;
    border-radius: 30px;
    background-color: #D6B97A;
    color:#0B1F1A;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
}

.introduction{
    flex: 1;
    flex-direction: column;
    height: 100vh;
    display: flex;
    padding: 100px;
    align-items: center;
    text-align: center;
    color: #E8F5F2;
    font-size: 1.5rem;
}
.introduction h1{
    text-decoration: underline;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #A7C4BC;
}
.introduction p{
    margin-bottom: 1rem;
    color:#A8D5C2;
}
.introduction button:hover{
    transform:scale(1.1);
    transition: 0.1s ease-in-out;
    color: #A7C4BC;
    background-color:#112D26;
}
.photo{
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #E8F5F2;
    font-size: 1.5rem;

}
.photo img {
    height: auto;
    width: 25rem;
    margin: 100px;
}